body{
    height:100%;
}
button{
    border-radius:10px;
    border:0;
    padding:30px;
}
button:hover{
    cursor:pointer;
}
.on{
    background:green;
    color:white;
}
.off{
    background:red;
    color:black;
}
.container{
    display: grid;
    align-items: center;
    justify-content: center;
    height:100vh;
}
a:hover{
    cursor:pointer;
}